
* {
    padding: 15px;
}
body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div{
    border: solid 15px;
    margin: 15 px auto;
}
div p {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
body > div> div> div{
    background-color: aqua;
}
body > div> div{
    background-color: antiquewhite;
}
body > div{
    background-color: blueviolet;
}
p+div {
    color: red;
}
div div div p {
    color: red
}